<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333113260468-trmlo4vjnlv4481ii4hqm32fltmjs676.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333113260468-trmlo4vjnlv4481ii4hqm32fltmjs676</string>
	<key>API_KEY</key>
	<string>AIzaSyAPKZIT5M_TC4rkjejLK8GW3JRJKCsuT54</string>
	<key>GCM_SENDER_ID</key>
	<string>333113260468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faizan.O2h-iOS-Assignment</string>
	<key>PROJECT_ID</key>
	<string>o2h-assignment-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>o2h-assignment-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333113260468:ios:5c626dd92532bf34da1ae1</string>
</dict>
</plist>